* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url(images/dark_wood.jpg);
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
}
