/* general styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url(images/dark_wood.jpg);
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
}

.principal {
    width: 70%;
    margin: 30px auto;
    height: 100%;
}
/* end styling general */


/* styling header */
.principal header {
    background-color: white;
    height: 40vh;
}

#header_top {
    width: 100%;
    height: 90%;
    position: relative;
    padding: 5px;
}

#header_top [src$=jpg] {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;

}

#header_top [src$=png] {
    width: 15%;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#header_top .test {
    text-align: center;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.5em;
    text-shadow: 0 0 3px black;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

#header_bot {
    width: 100%;
    height: 10%;
    background-color: black;
    text-align: center;
    font-weight: bold;
}

#header_bot div {
    display: inline-block;
    height: 100%;
    padding: 5px 15px;
}
.nav_item {
    text-decoration: none;
    color: white;
}
/* end styling header */




/* styling main */
main {
    margin: 30px auto;
}

.aside_first {
    float: left;
    background-color: white;
    width: 25%;
    height: 40%;
    padding: 5px;
    border-radius: 5px;
}

.aside_first i {
    float: left;
    color: orange;
    font-size: 20px;
}
 .aside_first div {
    display: inline-block;
    text-align: left;
    font-weight: bold;
    margin-left: 10px;
}

.aside_first h1:after {
    content: "";
    display: table;
    clear: both;
}

.aside_first ul {
    margin-top: 10px;
}

.aside_first ul li {
    list-style: none;
    margin-bottom: 10px;
}

.aside_first ul li a{
    color: rgb(0, 88, 27);
}


.central {
    background-color: white;
    width: 40%;
    height: 40%;
    margin: auto;
    padding: 10px;
    border-radius: 5px;
}

.central p {
    margin: 20px 10px;
}

.central h1 {
    text-transform: uppercase;
    font-size: 16px;
    margin: 10px;
}


.aside_second {
    float: right;
    /* background-color: white; */
    width: 25%;
    height: 100%;
}

.aside_second div {
    border: 1px solid black;
    background-color: white;
    height: 40%;
    margin-bottom: 20px;
    border-radius: 5px;
    padding: 10px;
}

.widget h1{
    font-size: 16px;
    margin: 10px;
}

.widget p {
    margin: 20px 10px;
}

main:after {
    content: "";
    display: table;
    clear: both;
}
/* end styling main */



/* styling footer */
footer {
    background-color: white;
    height: 20vh;
    margin: 30px auto;
    border-radius: 5px;
}

#footer_top {
    height: 10%;
    width: 100%;
    border-bottom: 1px solid grey;
    position: relative;
}

#footer_top div {
    color: rgb(51, 51, 51);
    font-style: oblique;
    font-size: 10px;
    text-align: center;
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

#footer_bottom {
    height: 90%;
    width: 100%;
    position: relative;
}

#footer_bottom a{
    display: inline-block;
    font-size: 30px;
    color: rgb(51, 51, 51);
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}

#primo_soc  {
    left: 20%;
}
#secondo_soc  {
    left: 50%;
}
#terzo_soc {
    left: 80%;
}
